<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>log in page</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">

   <% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>
	<% if (messages.success) { %>
	<div class="alert alert-success" role="alert"><%- messages.success %></div>
	<% } %>
    <div class="card"> 
    	<div class="card-header">
			Login
		</div>
        <div class="card-body">
            <form action="/login/login" method="post">
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" class="form-control" name="uname" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" name="upwd" autocomplete="off">
                </div>
				<div class="form-group">
                    <input type="submit" class="btn btn-info" value="Confirm"/>
                </div>
            </form>
        </div>
    </div>
	<a href="./index.html"> HOME | </a>
	<a href="./login/register"> Registration </a>
</body>
</html>	   
<!--	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   
	   <div class="row mt-5">
           <div class="col-3"></div>
           <div class="col-6">
               <form>
                   <div class="form-group" style="text-align: center">
                       <h2 style="letter-spacing: 30px;">log in</h2>
                   </div>
                   <div class="form-group">
                       <label for="username">User Name</label>
                       <input type="text" class="form-control" id="username"  placeholder="please enter user name">
                       <small id="nousername" class="form-text text-muted float-right">
                           <span style="color: #bd2130;">The username you entered does not meet the specifications!</span>
                       </small>
                   </div>
                   <div class="form-group">
                       <label for="pwd">Password</label>
                       <input type="password" class="form-control" id="pwd"placeholder="Please enter a password">
                       <small id="nopwd" class="form-text text-muted float-right" >
                          <span style="color: #bd2130;">  The password you entered does not meet the specifications!</span>
                       </small>
                   </div>
                   <div class="form-group mb-5" id="block">
                      <!-- <small id="findpwd" class="form-text text-muted float-left">
                           <a href="#">Retrieve password</a>
                       </small> 
                       <small id="register" class="form-text text-muted float-right">
                           <a href="login/register">Register</a>
                       </small>
                   </div>
                   <div class="form-group">
                       <button type="button" id="btn1" class="btn btn-primary  btn-block">confirm</button>
                   </div>

               </form>
           </div>
           <div class="col-3"></div>
       </div>
   </div>

   <script src="common/jquery-3.3.1.js"></script>
   <script src="bootstrap/js/bootstrap.bundle.js"></script>
   <script>
       $(function(){
           $("#alert1").hide();
           $("#alert2").hide()
           $("#nousername").hide();
           $("#nopwd").hide();
       })

       function login(){
           let username,pwd;
           username=$("#username").val();
           pwd=$("#pwd").val();

           if(/^\w{3,10}$/.test(username)){
           }else{
               $("nousername").css("display","block");
               $("#nousername").show();

           }

           if(/^\w{3,10}$/.test(pwd)){
           }else{
               $("#nopwd").show();
               $("#block").css("margin-top","25px");
               return;
           }
           //Native JS
           let xhr=window.XMLHttpRequest?new XMLHttpRequest():new ActiveXObject("Microsfot.XMLHTTP");
           let data="";
           xhr.onreadystatechange=function(){
               //console.log(xhr.readyState); //1 Initialize 2 Initiate request 3 In progress, waiting for response 4 Complete request

             if(xhr.readyState==4){
                 data=JSON.parse(xhr.responseText);
                 if(data.status==200){
                     $("#alert2").show();
                       localStorage.setItem("username",username);
                     location.href="html/main.html";
                 }else if(data.status==400){
                     $('#alert1').show()
                 }
             }

           }
           xhr.open("post",'/login/login',true);
           xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
           xhr.send(`username=${username}&pwd=${pwd}`);
       }

       $("#btn1")[0].addEventListener("click",login,true);
   </script>
</body>
</html>